<a href="https://colab.research.google.com/github/ZZOHEIR/checkpoint_gomycode/blob/main/Copie_de_iloc_loc_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Votre Objectif

In this exercise, you will work with a dataset called "employee info" that contains information about employees in a company. The dataset includes columns such as Name, Department, Age, Gender, Salary, and Experience.


Instructions

Create a dataframe called "employee_df" with the following data:

import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

 employee_df = pd.DataFrame(data)



Use the iloc method to select the first 3 rows of the dataframe.
Use the loc method to select all rows where the Department is "Marketing".
Use the iloc method to select the Age and Gender columns for the first 4 rows of the dataframe.
Use the loc method to select the Salary and Experience columns for all rows where the Gender is "Male".
Note:

iloc is used for selection by index location
loc is used for selection by label.

In [ ]:
import pandas as pd

data = {'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'], 'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'], 'Age': [30, 40, 25, 35, 45, 28], 'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'], 'Salary': [50000, 60000, 45000, 55000, 70000, 55000], 'Experience': [3, 7, 2, 5, 10, 4]}

employee_df = pd.DataFrame(data)
print('PANDAS Dataframe :')
print(employee_df)
print('-'*60)
emp_iloc = employee_df.iloc[0:3, :]
print('Select the first 3 rows of the dataframe :')
print(emp_iloc)
print('-'*60)
emp_loc = employee_df.loc[employee_df['Department'] == 'Marketing']
print('Select all rows where the Department is "Marketing" :')
print(emp_loc)
print('-'*60)
emp_iloc2 = employee_df.iloc[:4][['Age', 'Gender']]
print('Select the Age and Gender columns for the first 4 rows of the dataframe :')
print(emp_iloc2)
print('-'*60)
emp_loc2 = employee_df.loc[employee_df['Gender'] == 'Male', ['Salary', 'Experience', 'Gender']]
print('Select the Salary and Experience columns for all rows where the Gender is "Male" :')
print(emp_loc2)
print('-'*60)

PANDAS Dataframe :
    Name Department  Age  Gender  Salary  Experience
0   John         IT   30    Male   50000           3
1   Mary  Marketing   40  Female   60000           7
2    Bob      Sales   25    Male   45000           2
3  Sarah         IT   35  Female   55000           5
4    Tom    Finance   45    Male   70000          10
5   Lisa  Marketing   28  Female   55000           4
------------------------------------------------------------
Select the first 3 rows of the dataframe :
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2
------------------------------------------------------------
Select all rows where the Department is "Marketing" :
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4
------------------------------------------------------------
Select the Age and Gender columns for the first 4 rows of the dataframe :
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female
------------------------------------------------------------
Select the Salary and Experience columns for all rows where the Gender is "Male" :
   Salary  Experience Gender
0   50000           3   Male
2   45000           2   Male
4   70000          10   Male
------------------------------------------------------------